@font-face {
  font-family: "toutiao";
  /* Project id 3840040 */
  src: url('//at.alicdn.com/t/c/font_3840040_de2f7p4ed48.woff2?t=1672046399155') format('woff2'), url('//at.alicdn.com/t/c/font_3840040_de2f7p4ed48.woff?t=1672046399155') format('woff'), url('//at.alicdn.com/t/c/font_3840040_de2f7p4ed48.ttf?t=1672046399155') format('truetype');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiaofenxiang:before {
  content: "\e604";
}
.toutiaogengduo:before {
  content: "\e605";
}
.toutiaodianzan:before {
  content: "\e606";
}
.toutiaodianzan2:before {
  content: "\e607";
}
.toutiaopinglun:before {
  content: "\e608";
}
.toutiaoguanbi:before {
  content: "\e609";
}
.toutiaoshanchu:before {
  content: "\e60a";
}
.toutiaoshouji:before {
  content: "\e60b";
}
.toutiaolishi:before {
  content: "\e60c";
}
.toutiaoshoucang:before {
  content: "\e60d";
}
.toutiaoshouye:before {
  content: "\e60e";
}
.toutiaosousuo:before {
  content: "\e60f";
}
.toutiaoyanzhengma:before {
  content: "\e610";
}
.toutiaowenda:before {
  content: "\e611";
}
.toutiaowode:before {
  content: "\e612";
}
.toutiaoshipin:before {
  content: "\e613";
}
.toutiaoyoujiantou:before {
  content: "\e614";
}
.toutiaowuwangluo:before {
  content: "\e615";
}
.toutiaozuojiantou:before {
  content: "\e616";
}
.toutiaoyuedu:before {
  content: "\e617";
}
.toutiaozuopin:before {
  content: "\e618";
}
